.not-found-container {
    text-align: center;
  }

  .not-found-text {
    font-size: 6rem;
    color: #333;
    margin-bottom: 20px;
  }

  .not-found-message {
    font-size: 1.5rem;
    color: #555;
  }

  .not-found-image {
    width: 300px;
    margin-top: 20px;
  }