version: '3.9'
services:
  nginx:
    build: ./nginx
    container_name: nginx
    image: nginx:nginx
    restart: unless-stopped
    depends_on:
      - front-end
    ports:
      - "443:443"
    networks:
      - transcendence
  back-end:
    build: ./back-end
    container_name: back-end
    image: back-end:back-end
    restart: unless-stopped
    volumes:
      - back-end-volume:/app/env/
    depends_on:
      - dev-db
    ports:
      - "3333:3333"
    networks:
      - transcendence
  dev-db:
    image: postgres:13
    ports:
      - 5434:5432
    restart: unless-stopped
    env_file:
      - /Users/$USER/Desktop/.env_db
    networks:
      - transcendence
  front-end:
    build: ./front-end
    container_name: front-end
    image: front-end:front-end
    restart: unless-stopped
    depends_on:
      - dev-db
    ports:
      - "3000:3000"
    networks:
      - transcendence

networks:
  transcendence:
    name: transcendence

volumes:
  back-end-volume:
    driver: local
    driver_opts:
      type: none
      device: /Users/ybouali/Desktop/env_file_path/
      o:  bind